@use '../../styles/base' as *;

.swiper{
  width: 100%;
  height: 100%;
  max-width: 270px;
  @include above($bp-md){
    max-width: 500px;
  }
}

.swiper-slide{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  img{
    max-width: 100%;
    height: auto;
  }
}

.custom-pagination{
  text-align: center;
  margin-top: 20px;
}

