@use '../../styles/base' as *;
$card-size: 250px;

.productCard {
  text-align: center;
  margin: 40px auto;
  width: 100%;
  max-width: $card-size;
  @include below($bp-sm){
    &:first-of-type{
      margin-top: 20px;
    }
  }

  @include above($bp-sm){
    margin: 10px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 17px;
  }
  @include above($bp-md){
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
  @include above($bp-xl){
    padding: 0 30px;
  }

  .thumb {
    background-color: $white;
    line-height: 0;
    box-shadow: $box-shadow;
    border-radius: 4px;
    display: block;
    overflow: hidden;

    img{
      max-width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      transition: transform ease-in-out .4s;
      &:hover{
        transform: scale(1.1);
      }
    }
  }

  h2{
    font-size: toRem(16);
    font-weight: $fw-bold;
    text-transform: uppercase;
    margin-top: toRem(14);
    margin-bottom: toRem(4);
  }
  .category{
    text-transform: uppercase;
    font-weight: $fw-light;
  }
}
