
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}
